<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Assistants API Quickstart</title>
    <meta name="description" content="A quickstart template using the Assistants API with OpenAI">
    <link rel="icon" href="{{ url_for('static', path='openai.svg') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
    <link rel="favicon" href="{{ url_for('static', path='favicon.png') }}">
    <script src="{{ url_for('static', path='htmx.min.js') }}" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', path='sse.js') }}"></script>
  </head>
  <body>
    {% block content %}
    <!-- Content will be injected here -->
    {% endblock %}
    <img class="logo" src="{{ url_for('static', path='openai.svg') }}" alt="OpenAI Logo" />
  </body>
</html>
